on boot
    # --- Toco LED & Fener İzinleri (Temiz Versiyon) ---
    
    # Sadece sahiplikleri (system) ve izinleri (0660) veriyoruz.
    # Değer ataması (write 255) yapmıyoruz, onu Android halledecek.

    # 1. Sarı LED Grubu
    chown system system /sys/class/leds/led:torch_0/brightness
    chown system system /sys/class/leds/led:torch_0/max_brightness
    chmod 0660 /sys/class/leds/led:torch_0/brightness
    chmod 0660 /sys/class/leds/led:torch_0/max_brightness

    # 2. Beyaz LED Grubu
    chown system system /sys/class/leds/led:torch_1/brightness
    chown system system /sys/class/leds/led:torch_1/max_brightness
    chmod 0660 /sys/class/leds/led:torch_1/brightness
    chmod 0660 /sys/class/leds/led:torch_1/max_brightness

    # 3. Ana Şalter (Switch)
    # Sistemin bu anahtarı kontrol etmesine izin veriyoruz.
    chown system system /sys/class/leds/led:switch_0/brightness
    chmod 0660 /sys/class/leds/led:switch_0/brightness